.listWithNumbers{
    list-style-type: decimal;
}

.listWithLetters{
    list-style-type: lower-alpha;
}

.listWithCircles{
    list-style-type: lower-alpha;
}

.listWithNoneStyle{
    list-style: none;
}

span{
    font-weight: bold;
}

.rulesSection{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.rulesSection>article{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.rulesSection>article>ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
}